*{
	margin: 0;
}
body{
	background: white;
	font-family: arial, times;
}
.header{
	/*border: 1px solid;*/
	background: black;
	color: white;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 2px;
}
.menu{
	max-width: 1200px;
	margin: auto;
}
.menu ul{
	list-style: none;
	padding-left: 0;
	overflow: auto;
}
.menu ul li{
	/*border: 1px solid;*/
	float: left;
}
.menu ul li a{
	/*border: 1px solid;*/
	display: block;
	padding: 20px 20px;
	color: gray;
	text-decoration-line: none;
	/*text-transform: uppercase;*/
	font-variant: small-caps;
}
.menu ul li a:hover{
	/*background-color: lightgray;*/
	background: lightgray;
}
.menu ul li:last-child{
	/*border: 1px solid;*/
	padding-top: 19px;
	padding-bottom: 19px;
	float: right;
}
.search{
	width: 200px;
}
.banner{
	width: 100%;
}
.banner1{
	width: 1200px;
	margin: auto;
	/*border: 1px solid;*/
	margin-top: 50px;
}
.banner1 img{
	width: 100%;
}
.content{
	/*border: 1px solid;*/
	width: 1200px;
	text-align: center;
	margin: 50px auto;
	text-transform: uppercase;
	font-size: 30px;
	color: gray;
}
.valentine_box{
	margin-top: 50px;
	/*border: 1px solid;*/
	overflow: auto;

}
.valentine_img{
	/*border: 1px solid;*/
	float: left;
	width: 48.7%;
	margin-left: 0px;
	padding-left: 4px;
}
.valentine_img img{
	width: 100%;
	/*border: 1px solid;*/
}

.middle_box{
	margin-left: 10px;
	width: 24%;
}
.right_box{
	float: right;
	width: 24%;
	margin-right: 0px;
	padding-right: 3px;
}
.upper_img a:hover{
	background-color: gray;
}
.upper_img strong{
	display: block;
	animation: fadeIn
}
.products{
	/*border: 1px solid;*/
}
.products h2{
	text-align: center;
	text-transform: uppercase;
	padding-top: 25px;
	padding-bottom: 25px;
}
.product_box{
	/*border: 1px solid;*/
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}
.product_img{
	/*border: 1px solid;*/
	width: 279px;
	float: left;
}
.right_img{
	float: right;
}
.middle_img{
	margin-left: 26px;
}
.footer{
	/*background: black;*/
	background-color: black;
	color: white;
}
.container{
	width: 1200px;
	margin: auto;
	font-size: 10px;
	overflow: auto;
	padding: 8px 0;
}
.services{
	/*border: 1px solid;*/
	width: 16.66%;
	float: left;
	font-size: 14px;
	font-variant: small-caps;
	padding-bottom: 20px;
}
.services h2{
	font-variant: small-caps;
}
.services ul{
	list-style: none;
	padding-left: 0;
	padding-top: 10px;
	/*border: 1px solid white;*/
}
.services ul li{
	padding: 2px 0;
}
.services ul li a{
	/*border: 1px solid white;*/
	text-decoration: none;
	color: gray;
}
.copyright{
	background-color: black;
	color: white;
	border-top: 1px solid;
}
.copyright-content{
	/*border: 1px solid;*/
	font-variant: small-caps;
	float: left;
}
.terms, .privacy{
	float: right;
}
.terms{
	margin-left: 20px;
}
